.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;

}

.nav-item {
  color: white;
  text-decoration: none;
  background: #000;
  padding: 0.5rem;
  border-radius: 8px;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  margin: 40px;
}

.contatos {
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.contate-me,
.contate-me a {
  padding: 10px;
  border-radius: 8px;
  background: green;
  color: white;
  border: 0;
}

form {
  margin: 1rem 0;
}

input {
  margin: 0.5rem;
}

.destino {
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1rem;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
}